.header{
color:white;
background:blue;
text-align:center;
width:100%;
height:100%;

}
.headbutton{
    color:white;
    background:linear-gradient(10deg, red, blue, yellow);
    padding:12px 80px;
    border:none;
    font-size:40px;
    border-radius:10px;

}
.content{
  color:white;
  border:1px solid grey;
  border-radius:10px;
  text-align:center;
  align-content: center;
  align-self: center;
  position:center;
  background:rgb(13, 129, 110);
  padding:12px 5px; 
  margin-left: auto;
  margin-right: auto;
  font-size:20px;

}
.contenth1{
  color:silver;
  text-align:center;
}
.contenth1:hover{
  color:brown;
  text-align:center;
}
menu{
  background: grey;
  position:sticky;
  width:100%;
  top:0%;
  bottom:100%;
  
  height:50px;
  text-align:center;
  font-size:20px;
  color:white;
}
* {
margin: 0;
padding: 0
}
